
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "searchandselect";

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.heed {
  font-weight: 700 !important;
}
.init{
  line-height: 1.5 !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  padding-left: 18px !important;
  padding-right: 17px !important;
  font-size: 2rem !important;
  border: .5px solid #777676 !important;
  font-family: ubuntu;
}
.con{
  display: table-cell;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  padding: 0 .5rem;
  width: 2rem;
}



body {
  font-family: Helvetica, sans-serif;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.react-autosuggest__suggestion-match {
  color: red;
  font-weight: bold;
}



















// .form-control {
//   line-height: 1.5 !important;
//   padding-top: 15px !important;
//   padding-bottom: 15px !important;
//   padding-left: 18px !important;
//   padding-right: 17px !important;
//   font-size: 2rem !important;
//   border: .5px solid #777676 !important;
//   font-family: ubuntu;
// }




// auto suggest
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 100%;
  height: 44px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 40px;
  width: 100%;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.react-autosuggest__suggestion-match {
  color: red;
  font-weight: bold;
}


// // ssssss
// .form-control {
//   line-height: 1.5 !important;
//   padding-top: 15px !important;
//   padding-bottom: 15px !important;
//   padding-left: 18px !important;
//   padding-right: 17px !important;
//   font-size: 2rem !important;
//   border: .5px solid #777676 !important;
//   font-family: ubuntu;
// }















































// auto suggest
// .react-autosuggest__container {
//   position: relative;
// }

// .react-autosuggest__input {
//   width: 100%;
//   height: 44px;
//   padding: 10px 20px;
//   font-family: Helvetica, sans-serif;
//   font-weight: 300;
//   font-size: 15px;
//   border: 1px solid #aaa;
//   border-radius: 4px;
// }

// .react-autosuggest__input--focused {
//   outline: none;
// }

// .react-autosuggest__input--open {
//   border-bottom-left-radius: 0;
//   border-bottom-right-radius: 0;
// }

// .react-autosuggest__suggestions-container {
//   display: none;
// }

// .react-autosuggest__suggestions-container--open {
//   display: block;
//   position: absolute;
//   top: 40px;
//   width: 100%;
//   border: 1px solid #aaa;
//   background-color: #fff;
//   font-family: Helvetica, sans-serif;
//   font-weight: 300;
//   font-size: 16px;
//   border-bottom-left-radius: 4px;
//   border-bottom-right-radius: 4px;
//   z-index: 2;
// }

// .react-autosuggest__suggestions-list {
//   margin: 0;
//   padding: 0;
//   list-style-type: none;
// }

// .react-autosuggest__suggestion {
//   cursor: pointer;
//   padding: 10px 20px;
// }

// .react-autosuggest__suggestion--highlighted {
//   background-color: #ddd;
// }

// .react-autosuggest__suggestion-match {
//   color: red;
//   font-weight: bold;
// }